{% extends 'lista_tarefas_app/main.html' %}
{% block content %}
<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>Usuário</label>
        {{form.username}}

        <label>Senha</label>
        {{form.password}}

        <input class="button" type="submit" value="Login" style="margin-top: 20px;">
    </form>
    <p>Ainda não possui uma conta? <a href="{% url 'register' %}">Registrar</a></p>
</div>





{% endblock content %}