{% extends 'lista_tarefas_app/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Registrar</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>Usuário</label>
        {{form.username}}

        <label>Senha</label>
        {{form.password1}}

        <label>Confirme a senha</label>
        {{form.password2}}
        <input style="margin-top:10px ;" class="button" type="submit" value="Registrar">
    </form>
    <p>Já possui uma conta? <a href="{% url 'login' %}">Login</a></p>
</div>






{% endblock content %}